body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #1f1f1f;
    padding: 10px 15px;
  }
  
  .navbar-brand, .nav-link {
    color: #e0e0e0;
  }
  
  .nav-link:hover, .nav-link.active {
    color: #bb86fc !important;
  }
  
  .navbar-toggler-icon {
    color: #e0e0e0;
  }