body {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  
  
}

.navbar {
  background-color: #1f1f1f;
  padding: 10px 15px;
}

.navbar-brand,
.nav-link {
  color: #e0e0e0;
}

.nav-link:hover,
.nav-link.active {
  color: #bb86fc !important;
}

.navbar-toggler-icon {
  color: #e0e0e0;
}

h1 {
  color: white;
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-align: center;
}

h3 {
  color: white;
  font-family: "Edu SA Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-decoration: underline;
  margin-left: 1%;
}

.mb-3 {
  font-size: 40px;
}
p {
  color: white;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}



.quiz-container {
  background-color: #000000;
  border: 2px solid #4c0247;
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(255, 0, 195, 0.1);
}


.question {
  font-size: 1.1rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.answers label {
  display: block;
  margin-bottom: 8px;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.answers input[type="radio"] {
  margin-right: 8px;
}

.answers label:hover {
  background-color: #535353;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 16px;
  background-color: #580097;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #46004e;
}

#results {
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: center;
  color: #8f00a8;
}

.slide {
  display: none;
}

.active-slide {
  display: block;
}
#plscenter {
  margin: auto;        
  display: flex;
  flex-direction: column;
  align-items: center;
}