body {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #1f1f1f;
  padding: 10px 15px;
}

.navbar-brand,
.nav-link {
  color: #e0e0e0;
}

.nav-link:hover,
.nav-link.active {
  color: #bb86fc !important;
}

.navbar-toggler-icon {
  color: #e0e0e0;
}

h1 {
  color: white;
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-align: center;
}

h3 {
  color: white;
  font-family: "Edu SA Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-decoration: underline;
  margin-left: 1%;
}

.mb-3 {
  font-size: 40px;
}
p {
  color: white;
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.question {
  font-size: 30px;
  margin-bottom: 10px;
}

.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}

.answers label {
  display: block;
  margin-bottom: 10px;
}

button {
  font-family: 'Work Sans', sans-serif;
  font-size: 22px;
  background-color: #279;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #38a;
}

.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}