body {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #1f1f1f;
  padding: 10px 15px;
}

.navbar-brand,
.nav-link {
  color: #e0e0e0;
}

.nav-link:hover,
.nav-link.active {
  color: #bb86fc !important;
}

.navbar-toggler-icon {
  color: #e0e0e0;
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("aj.png");
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 0px 10px #000000;
}

.Name {
  font-size: 3rem;
  font-weight: 700;
}

.PresdientNum {
  font-size: 1.5rem;
}

.card {
  background-color: #1f1f1f;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #e0e0e0;
}

.card ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  list-style: none;
  color: #b0b0b0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
/* button CSS */
#button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #000000;
  color: #000000;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #6e6e6e;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

#button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 65%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

#button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #50364c;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

#button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

#button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
